<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/weather.css" />

    <title>Weather</title>
</head>

<body>
    <div class="inputBox">
        <form action="/" method="post">
        
            <div class="flex">

                <input type="text" id="cityName" name="cityName"><br>
            </div>
            <div class="flex">

                <button id="enter" type="submit" class="btn btn-outline-dark">Enter</button>

            </div>



        </form>
    </div>


    <div class="flex">

        <div class=" card jumbotron">
            <div class="flex">
                <div class="holder">
                    <h1 id="mainholder" class="display-4">{{result.currently.temperature}}°C</h1>
                </div>

                <div class="holder">
                    <p class="lead">{{result.timezone}}</p>
                    <p class="lead">{{result.currently.summary}}</p>
                    <p class="lead">Wind {{result.currently.windSpeed}}km/h</p>
                    <p class="lead">Humidty {{result.currently.humidity}}</p>

                </div>

            </div>

            <div class="flex">
                <p id="dailySummary"><span>{{result.daily.summary}}</span></p>
            </div>




        </div>


    </div>

    <div class="flex">
        <a href="/">
            <div class="refresh">
                Refresh
            </div>

        </a>

    </div>



</body>

</html>